@use '../index' as *;

.hamburger-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:0;
    bottom:0;
    right: 0;
    
    
}



@include media-up(sm) {
    .hamburger-container{
        display: none;
    }
    
}
