h2{
    font-size: 3.2em;
    line-height: 1.1;
    color: black;
    margin: 1rem 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0; 
}

.container-section{
    display: flex;
    padding: 2rem 0;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(103, 232, 176);
    margin-bottom: 3rem;
    justify-content: center;
}

.container-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    max-width: 40%;
    height: 500px;
}


.container-desc button{
    margin-bottom: 2rem;
}

.container-slider{
    margin: 2rem 0;
}

.introduction-img{
    max-width: 50%;
}

.services-img{
    max-width: 50%;
}

.rating-img{
    max-width: 50%;
}

.products-img{
    max-width: 50%;
}


p{
    color: black;
    font-size: 1.25rem;
    line-height: 1.3;

}



.container :nth-child(2n){
    flex-direction: row-reverse;
}

.container-desc button :nth-child(2n){
    visibility: hidden;
}

