footer{
    background-color: black;
    padding: 3rem;
}
h3{
    color:#F6F6F6;
}
.contact-list{
    display: flex;
    justify-content: center;
    list-style: none;
}

.contact-item a{
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    color:#F6F6F6;
    margin: 1rem;
}

.contact-item a img{
    margin: 0 1rem;
}


.logo-footer{
    width: 2vw;
}