

.slider-container{
    width: '100%';
    height: '100%';
    max-width: '1200px';
    height: 400px;
    margin: 0 auto;
    aspect-ratio: 5 / 3;
    position: relative;
}

.slider-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;


}

.slider-btn{
    all:unset;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    color: black;
    padding: 1rem;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.slider-btn > * {
    color: black;
    stroke-width:4px;
    width: 3rem;
    height: 3rem;
}

.slider-btn:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

